@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-primary;
  @apply hover:underline;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
  @apply font-display;
}

h2 {
  @apply text-3xl;
  @apply font-semibold;
  @apply font-display;
}

h3 {
  @apply text-2xl;
  @apply font-semibold;
  @apply font-display;
}

h4 {
  @apply text-xl;
  @apply font-semibold;
  @apply font-display;
}

.font-display {
  font-family: var(--tp-font-display);
}

.btn {
  @apply bg-primary;
  @apply hover:bg-primary-focus;
  @apply rounded;
  @apply text-white;
  @apply p-3;
  border: unset;
}

.retro-input {
  @apply border-b;
  @apply text-lg;
  @apply bg-base-200;
  @apply h-12;

  @apply px-3;
  @apply rounded-t;
  @apply relative;
  @apply flex;
  @apply w-full;
}

.z-modal {
  z-index: 50;
}

.z-popup {
  z-index: 100;
}

.shadow-center {
  --shadow-color: 30deg 3% 67%;
  --shadow-elevation-medium: 0px 0.3px 0.4px hsl(var(--shadow-color) / 0.03),
    0px 1.1px 1.6px -0.1px hsl(var(--shadow-color) / 0.16),
    0px 2.2px 3.2px -0.2px hsl(var(--shadow-color) / 0.29),
    0px 4.6px 6.7px -0.2px hsl(var(--shadow-color) / 0.42);
  box-shadow: var(--shadow-elevation-medium);
}

input {
  @apply focus:outline-none;
}

.skeleton {
  @apply animate-pulse;
  @apply bg-base-200;
  @apply rounded;
}

.skeleton-base {
  @apply bg-base-300;
  @apply rounded;

  height: 1.125rem;
  margin-top: 0.25rem;
}

.skeleton-lg {
  @apply bg-base-300;
  @apply rounded;
  height: 1.25rem;
  margin: 0.25rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  z-index: -1;
}

.no-parallax {
  z-index: 999;
}
